body{
    background-color: #e0e0d8;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #e0e0d8;
    color: #fff;
    padding: 10px 0;
    margin-top: 30px;
    height: 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 100px;
}

header nav ul li{
    display: flex;
    font-size: 27px;
    margin-left: 25px;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: #2C3E50;
    font-weight: 500;
}
#logo{
    margin-left: 100px;
    width: 60px;
}
#logo-message{
    width: 25px;
    margin-right: 6px;
}
#book-now {
    height: 56px;
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
    border-radius: 100px;
    border: none;
    color: white;
    padding: 0px 35px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-right: 80px;
}
h1{
    font-size: 2em;
    margin: 0;
}

h2{
    font-size: 1.5em;
    margin: 0;
}

h3{
    font-size: 1.17em;
    margin: 0;
}

h4{
    font-size: 1em;
    margin: 0;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

section{
    margin: 0;
    padding: 0;
    border-top: 1px solid red; /* separar secciones */
    height: 700px;
}

.welcomeSection{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(224,224,216);
    background: linear-gradient(180deg, rgba(224,224,216,1) 0%, rgba(147,194,226,1) 100%); 
}
#welcomeContent{
    z-index: 2;
    display: block;
    border: 1px solid red;
}
#welcomeContent h1{
    color: #2C3E50;
    font-size: 80px;
    width: 700px;
}
#cloud1-content{
    position: absolute;
    z-index: 1;
    right: 40px;
}
#cloud1-content img{
    width: 600px;
}
.whyUsSection{

    background: rgb(147,194,226);
    background: linear-gradient(180deg, rgba(147,194,226,1) 0%, rgba(94,171,222,1) 100%); 

}

.aboutUsSection{
    background: rgb(94,171,222);
    background: linear-gradient(180deg, rgba(94,171,222,1) 0%, rgba(74,144,226,1) 100%); 
}

.ourServicesSection{
    background: rgb(74,144,226);
    background: linear-gradient(180deg, rgba(74,144,226,1) 0%, rgba(176,212,255,1) 100%); 
}


.statisticsSection{
    background: rgb(176,212,255);
    background: linear-gradient(180deg, rgba(176,212,255,1) 0%, rgba(214,233,255,1) 100%); 
}

.statistics{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #2C3E50;
    height: 150px;
}

.statistics ul{
    display: flex;
    justify-content: space-between;
}

.testimonialsSection{
    background: rgb(214,233,255);
    background: linear-gradient(180deg, rgba(214,233,255,1) 0%, rgba(214,233,255,0) 100%); 
}

/* footer */

footer{
    background-color: #2C3E50;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    height: 500px;
}